:host{
  position: absolute;
  left: -2rem;
  right: -20rem;
  top: -8rem;
}
.todos-list{
align-items: flex-start;
gap: 1.2rem;
}
h2{
  font-size: 1rem;
  font-weight: 700;
}

.todo-items{
  gap: .5rem;
  align-items: flex-start;
}
