<form [formGroup]="taskForm" class="column">
  <p>Sélectionnez votre catégorie :</p>
  <div class="categories-btn flex">
    <div *ngFor="let category of categories">
      <div class="category-btn">
        <input class=""
          type="radio"
          name="category"
          formControlName="category"
          value="{{category.id}}"
          [class.selected]="this.todoItem && this.todoItem.categoryId === category.id"
        />
        <angular-emojis
          class="category-icon flex"
          [name]="category.icon"
          size="20"
        ></angular-emojis>
      </div>
    </div>
  </div>
  <p>Quelle tâche avez-vous à effectuer ?</p>
  <input class="content-input" type="text"
    formControlName="content"
    placeholder="Exemple: Faire les courses"
  />
  <div class="markUrgent flex">
    <input type="checkbox" formControlName="isUrgent" value="!isUrgent" />
    <p>La tâche est urgente
      <angular-emojis [name]="'warning'" size="20"></angular-emojis>
    </p>
  </div>
  <button type="button" (click)="validateForm()" class="validate-btn">
    Valider ma tâche
  </button>
</form>
