:host{
position: absolute;
left: 15%;
  top: 40%;}
.noTodos{
  // position: absolute;
  justify-content: center;
  gap: 1.2rem;
  height: 100%;
  left: 50;
  p{
    font-weight: 700;
  }
  button {
    background-color: var(--blue);
    border-radius: 1.9rem;
    padding: 0.6rem 2.5rem;
    font-weight: 700;
    margin: 1.5rem auto;
    align-self: center;
  }
}

