/* You can add global styles to this file, and also import other style files */
// Variables
// ------- COLORS ------
:root {
  --dark: #040722;
  --dark-blue: #1d2038;
  --purple: #e475f1;
  --yellow-dark: #f3d24f;
  --blue: #64a7d9;
  --green: #88e7a1;
  --white: #ffffff;
  --font-main: "Quicksand", sans-serif;
}

*:before,
*:after{
  box-sizing: border-box;
}

// ------ FONTS ------

// ------ DISPLAY --------

@mixin display-flex($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

.flex {
  @include display-flex();
}
.column {
  @include display-flex(column);
}

// ----- GENERAL -----
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: min(24.5rem, 100%);
  background-color: var(--dark);
  font-family: var(--font-main);
  color: var(--white);
  margin: 0 auto;
  font-size: 1rem;
  font-weight: 700;
  height: 100vh;
  max-height: 100vh;
}

main {
  width: min(21.5rem, 95%);
  margin: 2.3rem auto;
  height: 25rem;
  @include display-flex(column);
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  overflow-y: scroll;
  scrollbar-color: red;
  // &::-webkit-scrollbar-thumb {
  //   background: var(--yellow-dark)
  // }
}
::-webkit-scrollbar {
  width: .2rem;
}
::-webkit-scrollbar-track {
  background-color: var(--dark);
}
::-webkit-scrollbar-thumb {
  background-color: var(--yellow-dark);
  border-radius: 10px;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--white);
}

button {
  background-color: var(--dark-blue);
  border: none;
  color: var(--white);
  cursor: pointer;
  font-size: 1rem;
  font-family: var(--font-main);
}
